In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("housing.csv")

In [3]:
# Create income categories
data["income_cat"] = pd.cut(data["median_income"],
                             bins=[0, 1.5, 3.0, 4.5, 6.0, np.inf],
                             labels=[1, 2, 3, 4, 5])

In [4]:
from sklearn.model_selection import StratifiedShuffleSplit

# Assume income_cat is a column in the dataset created from median_income
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_index, test_index in split.split(data, data["income_cat"]):
    strat_train_set = data.loc[train_index]
    strat_test_set = data.loc[test_index]

In [5]:
for sett in (strat_test_set , strat_train_set):
    sett.drop("income_cat" , axis =1 , inplace = True)

In [11]:
data  = strat_train_set.copy()

In [12]:
housing = strat_train_set.drop("median_house_value", axis=1)
housing_labels = strat_train_set["median_house_value"].copy()

In [14]:
housing = housing.drop("ocean_proximity" , axis = 1)

In [15]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
12655,-121.46,38.52,29,3873,797.0,2237,706,2.1736
15502,-117.23,33.09,7,5320,855.0,2015,768,6.3373
2908,-119.04,35.37,44,1618,310.0,667,300,2.8750
14053,-117.13,32.75,24,1877,519.0,898,483,2.2264
20496,-118.70,34.28,27,3536,646.0,1837,580,4.4964
...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14,6665,1231.0,2026,1001,5.0900
12661,-121.42,38.51,15,7901,1422.0,4769,1418,2.8139
19263,-122.72,38.44,48,707,166.0,458,172,3.1797
19140,-122.70,38.31,14,3155,580.0,1208,501,4.1964
19773,-122.14,39.97,27,1079,222.0,625,197,3.1319

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
    ("impute", SimpleImputer(strategy="median")),
    ("standardize", StandardScaler()),
])

In [17]:
num_pipeline.fit_transform(housing)

array([[-0.94135046,  1.34743822,  0.02756357, ...,  0.73260236,
         0.55628602, -0.8936472 ],
       [ 1.17178212, -1.19243966, -1.72201763, ...,  0.53361152,
         0.72131799,  1.292168  ],
       [ 0.26758118, -0.1259716 ,  1.22045984, ..., -0.67467519,
        -0.52440722, -0.52543365],
       ...,
       [-1.5707942 ,  1.31001828,  1.53856552, ..., -0.86201341,
        -0.86511838, -0.36547546],
       [-1.56080303,  1.2492109 , -1.1653327 , ..., -0.18974707,
         0.01061579,  0.16826095],
       [-1.28105026,  2.02567448, -0.13148926, ..., -0.71232211,
        -0.79857323, -0.390569  ]])